/*  your css code here. If applicable */
        body {
            font-family: Arial, Helvetica, sans-serif;
            margin: 40px;
            background-color: #f4f6f9;
            color: #333;
        }

        h1 {
            color: #0a4d68;
            text-align: center;
        }

        p {
            max-width: 800px;
            margin: 0 auto 30px auto;
            line-height: 1.6;
            font-size: 16px;
            text-align: center;
        }

        h2 {
            color: #088395;
            margin-top: 30px;
        }

        ol, ul {
            max-width: 700px;
            margin: 15px auto;
            padding-left: 20px;
        }

        li {
            margin-bottom: 10px;
            line-height: 1.5;
        }

        .section {
            margin-bottom: 30px;
        }